.table-container {
  overflow-x: auto;
  overflow-y: auto;
  max-height: 70vh;
  min-height: 300px;
}

@media (min-width: 1400px) {
  .table-container {
    min-height: 70vh;
  }
}

@media (min-width: 1200px) {
  .table-container {
    max-height: 58vh;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .table-container {
    max-height: 55vh;
  }
}

@media (max-width: 767px) {
  .table-container {
    max-height: 45vh;
  }
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
