/* Toast success styling */
.Toastify__toast--success {
    background: #4caf50; /* Green background for success */
    color: white;
    font-family: 'Roboto', sans-serif;
    border-radius: 8px;
  }
  
  /* Toast error styling */
  .Toastify__toast--error {
    background: #f44336; /* Red background for error */
    color: white;
    font-family: 'Roboto', sans-serif;
    border-radius: 8px;
  }
  
  /* Toast container styling */
  .Toastify__toast-container {
    margin: 0 20px;
  }
  
  /* Toast text styling */
  .Toastify__toast-body {
    font-size: 1rem;
  }
  