@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.card765 {
  min-height: 150px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, #007bff, #71c8f3);
  color: white !important;
  font-weight: bolder !important;
  animation: fadeInUp 1s ease-out;
}

.card765:hover {
  transform: scale(110%);
}

.table-animated {
  animation: fadeInUp 1s ease-out;
}

.table-header-animated {
  animation: slideInFromLeft 1s ease-out;
}

h1,
h2 {
  animation: fadeInUp 1s ease-out;
}

.menu-item {
  animation: fadeInUp 1s ease-out;
}

.menu-list {
  animation: slideInFromLeft 1s ease-out;
}
